[Install]
WantedBy=multi-user.target

[Unit]
Description=Ubilling firewall preset
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/furrywall start
